  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
    <div class="banner-content">
      <h1>Le Wagon Berlin</h1>
      <p>Learn to code with us in Berlin</p>
      <a class="btn btn-primary btn-lg">Start now</a>
    </div>
  </div>

  <div class="container">
    <h2 style = "text-align: center">Recent flats</h2>
    <div class="row">
      <% data.flats.each do |owner, flat|%>
      <div class="col-xs-12 col-sm-4">
        <%= partial "layouts/card", locals: {a_flat: flat} %>
      </div>
      <%end%>
    </div>
  </div>
